{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="col-12 col-lg-8 blog-main pb-3">
<h1 class="pb-4 mb-4 font-italic border-bottom">
    our\ channel
</h1>
{% for blog in object_list %}
<div class="blog-post">
    <h2 class="blog-post-title">{{blog.title}}</h2>
    <p class="blog-post-meta">{{ blog.date_posted|date:"d.m.Y"}}</p>

    <img class="img-fluid" src="/{{blog.image.url}}">
    <div>
        {{blog.content | safe }}
    </div>
    <hr>
</div><!-- /.blog-post -->
{% endfor %}
<nav class="blog-pagination">
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-primary" href="?page={{page_obj.previous_page_number}}">Older</a>
    {% else %}
    <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Older</a>
    {% endif %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-primary" href="?page={{page_obj.next_page_number}}">Newer</a>
    {% else %}
    <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
    {% endif %}
</nav>
</div><!-- /.blog-main -->
<aside class="col-12  col-lg-4 blog-sidebar">
    <div class="p-4 col-sm-12  mb-3 blog-post rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Computer geeks(?) doing computer stuff... custom PC builds, networking and server
            talk, programming discussions</p>
    </div>
    {% if  archive_dates %}
    <div class="p-4 col-sm-12 blog-post rounded">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
            {% for date in archive_dates %}
            <li><a href="{% url 'webapp:blog-list' date.month date.year %}">{{date|date:"m-Y"}}</a></li>
            {% endfor %}
        </ol>
    </div>
    {% endif %}
    <div class="p-4 col-sm-12  blog-post rounded">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="https://www.youtube.com/channel/UCjUMKswgxj6MPeGs3a76DIw/">Youtube</a></li>
        </ol>
    </div>
</aside><!-- /.blog-sidebar -->

{% endblock %}